<% include ./partials/header.ejs %>


    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>


        <form>
		  <div class="form-group">
		    <label for="search">Craigslist Search</label>
		    <input type="search" class="form-control" id="search" placeholder="Search">
		    <br>
		    <button type="submit" class="btn btn-default">Submit</button>
		  </div>
        </form>

        <h2>Results</h2>

      </div>

    </div><!-- /.container -->


<% include ./partials/footer.ejs %>
