extends layout

block content
	input#search(type="search", placeholder="Search Craig's Jobs")
	h2#results

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="/javascripts/main.js")