body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;

}

#search {
  text-align: center;
  width:600px;
  height: 70px;
  font-size:3.5em;
  border-radius:8px;
}

input.btn.btn-large.btn-primary {
	margin-bottom: 2px;
	margin-left: 2px;
	
}